.coin-table {
    margin: 50px auto 50px auto;
    display: inline-block;
    font-size: 1.4rem;
    color: white;
}

.coin-table-header {
    font-weight: bold;
}

.coin-table-row td {
    border: 1px solid #cccccc;
    width: 25vh;
}